html,
body {
  font-family: Roboto, sans-serif;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1920px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
}

.offers {}

.offers__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1120px;
  padding: 100px 0 82px 0;
}

.offers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #1F1E1E;
  margin-bottom: 40px;
}

.offers__content {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-gap: 32px;
}

.offers__item {
  display: flex;
  height: 256px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 0 19px 17px;
}

.item__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;

}

.item__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}

.big {
  width: 544px;
  height: 544px;
}

.item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 15px;
}

.item__desc {}

.item__desc-country {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.item__desc-days {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.offers__item--1 {
  background: url(1.jpg) no-repeat;
}

.offers__item--2 {
  background: url(2.jpg) no-repeat;
}

.offers__item--3 {
  background: url(3.jpg) no-repeat;
}

.offers__item--4 {
  background: url(4.jpg) no-repeat;
}

.offers__item--5 {
  background: url(5b.jpg) no-repeat;
  grid-row: 1 / 3;
  grid-column: 3 / 5;
}

.offers__item--6 {
  background: url(6b.jpg) no-repeat;
  grid-row: 3 / 5;
  grid-column: 1 / 3;
}

.offers__item--7 {
  background: url(7.jpg) no-repeat;
}

.offers__item--8 {
  background: url(8.jpg) no-repeat;
}

.offers__item--9 {
  background: url(9.jpg) no-repeat;
}

.offers__item--10 {
  background: url(10.jpg) no-repeat;
}
